.button {
  position: relative;
  transition: 0.2s ease;
  cursor: pointer;
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
  padding: 8px;
  color: #586069;
  background: #F6F8FA;
  border: 1px solid #D1D5DA;
  border-radius: 8px;
  width: max-content;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  &:hover {
    transform: translateY(-4px);

    &:before {
      // adds hitbox below link so when it moves up it doesn't cause any glitches
      transform: translateY(4px);
      position:absolute;
      content:'';
      top: 0px;
      right: 0px;
      left: 0px;
      bottom:-1px;
    }
  }

  &:active {
    transform: translateY(-2px);
  }



  .buttonText {/**/}

  & > * {
    display: inline-block;
    font-size: 12px;
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: middle;
  }

  & > i {
    font-size: 16px !important;
  }
}
