.button {
  cursor: pointer;
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
  padding: 8px;
  color: #586069;
  background: #F6F8FA;
  border: 1px solid #D1D5DA;
  border-radius: 8px;
  width: max-content;

  & > * {
    display: inline-block;
    font-size: 12px;
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: middle;
  }

  & > i {
    font-size: 16px !important;
  }
}
