.tab {
  cursor: pointer;
  font-size: 18px;
  padding: 8px 24px;
  text-transform: capitalize;

  &.selected {
    & > .underline {
      width: 100%;
    }
  }

  & > .underline {
    transition: ease 0.1s;
    margin: auto;
    width: 0%;
    margin-top: 2px;
    height: 4px;
    background: black;
  }
}

.keys {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  grid-template-columns: max-content max-content max-content max-content;
}

.deselected {
  display: none !important;
}
