
.tabs {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  margin-top: 16px;

  & > .tab {
    cursor: pointer;
    font-size: 18px;
    padding: 8px 24px;
    text-transform: capitalize;

    &.selected {
      & > .underline {
        width: 100%;
      }
    }

    & > .underline {
      transition: ease 0.1s;
      margin: auto;
      width: 0%;
      margin-top: 2px;
      height: 4px;
      background: black;
    }
  }
}

.page {
  position: relative;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-row-gap: 32px;
  margin: auto;
  max-width: 800px;
  min-height: 100vh;
  padding: 32px;
  position: relative;

  .general {
    position: fixed;
    z-index: 1000;
    display: grid;
    grid-template: "photo name buttons"
                   "gap   desc desc";
    grid-template-columns: min-content min-content auto;
    grid-column-gap: 12px;

    .desc {
      grid-area: desc;
    }

    .photo {
      transition: 1s ease 0s;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      overflow: hidden;
      grid-area: photo;
      width: 64px;
      height: 64px;
      background: white;
      border: 2px solid black;

      &.user {
        border-radius: 100%;
      }

      &.key {
        border-radius: 0%;
      }

      &.place {
        border: 0px;
        background: black;
        clip-path: polygon(50% 0, 0 100%, 100% 100%);

        & > img {
          transform: scale(0.9) translateY(1.5px);
          clip-path: polygon(50% 0, 0 100%, 100% 100%);
        }
      }

      & > img {
        width: 100%;
        height: 100%;
      }
    }

    .name {
      grid-area: name;
      // Vertically Align text
      display: flex;
      align-items: center;
      font-family: "Roboto Slab";
      font-size: 24px;
    }

    .desc {
      grid-area: desc;
    }

    .gap {
      position: fixed;
      width: 100%;
      height: 160px;
      z-index: -1;
      transform: translateY(-60px);
      background: #fafafa;
    }

    .buttons {
      display: flex;
      align-items: center;
      grid-area: buttons;
    }
  }
}


.feed {
  & > .deselected {
    display: none !important;
  }

  & > .history {
    display: grid;
    grid-row-gap: 8px;
  }
  & > .keys, .spares {
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 24px;
    grid-template-columns: max-content max-content max-content max-content;
    display: grid;
    grid-row-gap: 24px;

    @media screen and (min-width: 150px) {
      grid-template-columns: 1fr;
    }

    @media screen and (min-width: 300px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 500px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
