.root {
    flex-grow: 1;
    position: relative;
}
.app-bar {
    position: fixed;
    z-index: 2;
}
.logo {
    height: 30px;
    padding-right: 10px;
}
.grow {
    flex-grow: 1;
}
.menuButton {
    margin-left: -12;
    margin-right: 20;
}
.loginButton {
    float: right;
}