.keyObject {
  padding: 16px;
  text-align: center;
  font-family: "Roboto";
  background: #F6F8FA;
  border: 1px solid #D1D5DA;
  cursor: pointer;

  img {
    margin: auto;
    width: 48px;
    height: 48px;
    border: 1px solid black;
  }

  .label {
    color: #babcbe;
    margin-top: 6px;
    font-size: 12px;
    font-weight: bold;
  }

  .value {
    font-size: 12px;
    color: #393939;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
