.root {
    flex-grow: 1;
    max-width: 100vw;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
}
.app-bar {
    position: absolute;
    z-index: 2;
}
.grow {
    flex-grow: 1;
}
.menuButton {
    margin-left: -12;
    margin-right: 20;
}
.loginButton {
    float: right;
}
.drawer-paper {
    z-index: 1;
    width: 240px;
}
.toolbar {
    height: 60px;
}
.nested-item {
    margin-left: 10px;
}

.content {
  width: 100%;
}

.padding {
  width: 10px;
  min-height: 64px;
}
